html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background: linear-gradient(#EB3349, #F45C43);
}

/* General Container Properties */
div.container{
    /* margin: 20;
    background: white;
    width: 80%;
    height: auto; */
}

div.game-area{
    border: black solid 5px;
    background: pink;
    padding: 5px;
}

div.dice-area{
    display: flex;
    /* padding: 5px; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: yellow;
}

div.die{
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
}

div.button-container{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background: #FFFFFF;
}

div.rules-container{
    justify-content: center;
    padding: 0.5rem;
    background: #FFFFFF;
}

