html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background: linear-gradient(#EB3349, #F45C43);
}

/* General Container Properties */
div.game-area{
    border: black solid 5px;
    background: pink;
    padding: 5px;
}

div.dice-area{
    display: flex;
    /* padding: 5px; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: yellow;
}

div.die-container{
    border: black solid 5px;
    padding: 0.5rem;
}

/* variables */
:root {
    --dsize: 50px;
  }

div.die{
    border: black solid 1px;
    border-radius: 5px;
    background: white;
    width: var(--dsize);
    height: var(--dsize);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12;
}

div.lock-container{
    border: black solid 1px;
    background: green;
    width: var(--dsize);
    height: var(--dsize);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12;
}

div.button-container{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background: #FFFFFF;
}

div.rules-container{
    justify-content: center;
    padding: 0.5rem;
    background: #FFFFFF;
}

