# Personal testing items that do not need to appear in the repo

# Julia's testing items

#Ignore the PHPunit Files - these can be retrieved from composer command...
vendor
vendor/*

#Remove graphics generator files and colour references from repo
*.afdesign